/** footer.inc.php **/
.footerMembre {
  width: 100% !important;
  position: inherit !important;
  bottom: 0;
}

/** admin/footer.in.php **/
.adminFooter {
  display: none !important;
}

/** index.php **/
/* conteneur principal englobant les annonces*/
.annonce-index,
.container {
  margin-top: 100px;
  margin-bottom: 150px;
}

/** titres des pages affiche les message d'erreur */
.starter-template {
  text-align: center;
}
.starter-template h1 {
  text-decoration: underline;
  font-size: 30px;
}

.monAnnonce header .titreAnnonce #collapseVoirLesAvis .dateNote {
  font-size: 10px;
}

.monAnnonce .conteneurCarouselTexte .carousel img {
  height: 500px !important;
}
@media screen and (max-width: 480px) {
  .monAnnonce .conteneurCarouselTexte .carousel img {
    height: 400px !important;
  }
}

.monAnnonce #collapseVoirLesAvis .listingNote {
  max-height: 500px;
  overflow: scroll;
}

.monAnnonce .conteneurCarouselTexte .description {
  position: relative;
}
@media screen and (min-width: 990px) {
  .monAnnonce .conteneurCarouselTexte .description .footerDescription {
    bottom: 0;
  }
}

.monAnnonce .commentaires .conteneurCommentaire .date {
  font-size: 10px;
}

.monAnnonce header .titreAnnonce .conteneurConten {
  max-width: 400px;
}

#newAnnonce {
  margin-top: 30px;
}
#newAnnonce textarea {
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 5px;
}

.tableAnnonces .row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  #contenerReponseRequete > .blocRequete > .texte > .footerAnnonce {
    position: absolute;
    bottom: 0px;
  }
}

@media screen and (max-width: 968px) {
  #contenerReponseRequete > .blocRequete > .texte > p {
    overflow: hidden;
  }
}

#contenerReponseRequete > .blocRequete a img {
  display: block;
  max-height: 280px;
  min-height: 240px;
}

#contactForm {
  margin-top: 50px;
  margin-bottom: 22px;
}
#contactForm label {
  font-weight: bold;
}
#contactForm .blue {
  color: #0069d6;
}
#contactForm .comment {
  font-style: italic;
  font-size: 16px;
  color: #d82c2e;
}
#contactForm .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

#mentions_conteneur h3, #cgv_conteneur h3 {
  background-color: #343a40;
  color: white;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding-left: 5px;
}
#mentions_conteneur p, #cgv_conteneur p {
  font-size: 14px;
}

#cgv_conteneur {
  margin-top: 50px;
}
#cgv_conteneur .info {
  text-align: center;
}

.login-form {
  width: 25%;
  margin: 70px auto;
  background: white;
  padding: 10px;
  border-radius: 3px;
}
.login-form .form-title {
  text-align: center;
}
.login-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
.login-form .form-group {
  margin: 10px auto;
}
.login-form button {
  width: 100%;
  border: none;
  color: white;
  background: #3b5998;
  padding: 15px;
  border-radius: 5px;
}
.login-form .msg {
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid red;
  background: pink;
  text-align: left;
  color: brown;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
