/** Generale **/
body, html {
  min-height: 100vh;
  position: relative;
}

/** navbar **/
.navbar {
  box-sizing: border-box;
}
.navbar .hover {
  border-bottom: 2px solid #343a40;
  box-sizing: border-box;
}
.navbar .hover:hover {
  box-sizing: border-box;
  border-bottom: 2px solid orange;
}
.navbar .btn-search {
  background-color: orange;
  border-color: orange;
}

/** footer.inc.php **/
.footerMembre {
  width: 100% !important;
}
.footerMembre a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}
.footerMembre a:hover {
  color: #ffc107;
}

/** admin/footer.in.php **/
.adminFooter {
  display: none !important;
}

/** index.php **/
.container-fluid {
  height: 400px;
  padding: 0;
}

.bgIndex {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.bgIndex:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(24, 22, 22, 0.39);
}
.bgIndex .indexForm h1 {
  color: white;
}
.bgIndex .indexForm .bgForm {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.746);
}
.bgIndex .indexForm .bgForm .row {
  line-height: 80px;
  margin: 0 20px;
}
@media screen and (max-width: 1024px) {
  .bgIndex .indexForm .selectRegion, .bgIndex .indexForm .selectDpt {
    display: none;
  }
}

.pageIndex {
  padding: 0;
  background-color: #9b999914;
}
.pageIndex .container {
  padding-top: 40px;
}
.pageIndex .filtrePrix {
  padding: 0;
  padding-top: 50px;
}
@media screen and (max-width: 992px) {
  .pageIndex .filtrePrix {
    padding-left: 75px;
    padding-top: 0;
    margin: 0 !important;
  }
  .pageIndex .container {
    padding-top: 1px;
  }
  .pageIndex .annonce-index {
    margin: 0 !important;
  }
}

.colorLetter {
  color: orange;
}

/* conteneur principal englobant les annonces*/
.container {
  padding-top: 100px;
  margin-bottom: 80px;
  box-sizing: border-box;
}

/** titres des pages affiche les message d'erreur */
.starter-template {
  text-align: center;
}
.starter-template h1 {
  text-decoration: underline;
  font-size: 30px;
}

.autresAnnonces figure {
  width: 350px;
  height: 250px;
}
.autresAnnonces figure .picture {
  width: 230px;
  height: 100%;
}
.autresAnnonces figure a {
  text-decoration: none;
}
.autresAnnonces figure img {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .autresAnnonces figure img {
    height: 100% !important;
  }
}
.autresAnnonces figure figcaption {
  font-size: 15px;
}

.monAnnonce header .titreAnnonce #collapseVoirLesAvis .dateNote {
  font-size: 10px;
}

.monAnnonce .conteneurCarouselTexte .carousel .bg-carousel {
  background-color: #f8f9fa;
}
.monAnnonce .conteneurCarouselTexte .carousel img {
  height: 500px !important;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .monAnnonce .conteneurCarouselTexte .carousel img {
    height: 400px !important;
  }
}

.monAnnonce #collapseVoirLesAvis .listingNote {
  max-height: 310px;
  overflow: auto;
}

.monAnnonce .conteneurCarouselTexte .description {
  position: relative;
}
@media screen and (min-width: 990px) {
  .monAnnonce .conteneurCarouselTexte .description .footerDescription {
    bottom: 0;
  }
}

.monAnnonce .commentaires .conteneurCommentaire .date {
  font-size: 10px;
}

.monAnnonce header .titreAnnonce .conteneurConten {
  max-width: 400px;
}

.vendeur {
  line-height: 40px;
}

.addAvis {
  font-size: 14px !important;
}

#newAnnonce {
  margin-top: 30px;
}
#newAnnonce textarea {
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 5px;
}

.tableAnnonces .row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  #contenerReponseRequete > .blocRequete > .texte > .footerAnnonce {
    position: absolute;
    bottom: 0px;
  }
}

@media screen and (max-width: 968px) {
  #contenerReponseRequete > .blocRequete > .texte > p {
    overflow: hidden;
  }
}

.annonce-index .pagination {
  margin-left: 75px;
}
.annonce-index .pagination .page-link {
  color: #343a40;
}
.annonce-index .pagination .page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}
.annonce-index .container {
  padding-top: 0px;
  margin-bottom: 0px;
}

#contenerReponseRequete > .blocRequete {
  /* height: 218px; */
  box-sizing: border-box;
  /* border: 1px solid rgba(209, 206, 206, 0.678); */
  /* box-shadow: 0px 0px 10px 0px rgba(24, 11, 0, 0.5); */
  border-radius: 3px;
  /* &:hover {
      box-shadow: 1px 1px 10px 1px rgba(122, 122, 122, 0.794);
  } */
}
@media screen and (max-width: 767px) {
  #contenerReponseRequete > .blocRequete {
    height: auto;
  }
}
#contenerReponseRequete > .blocRequete .imgAnnonce {
  background-color: rgba(219, 219, 219, 0.794);
}
#contenerReponseRequete > .blocRequete .imgAnnonce .picture {
  height: 218px;
  width: 100%;
  box-sizing: border-box;
}
#contenerReponseRequete > .blocRequete .imgAnnonce .picture img {
  box-sizing: border-box;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
#contenerReponseRequete > .blocRequete .textAnnonce {
  box-sizing: border-box;
  padding: 15px;
}
#contenerReponseRequete > .blocRequete .textAnnonce .headerAnnonce {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
#contenerReponseRequete > .blocRequete .textAnnonce .headerAnnonce span {
  color: #adb5bd;
}
#contenerReponseRequete > .blocRequete .textAnnonce .headerAnnonce .vendeurAnnonce:before {
  content: "|";
  padding: 0 15px;
}
#contenerReponseRequete > .blocRequete .textAnnonce .headerAnnonce .note:before {
  content: "|";
  padding: 0 15px;
}
#contenerReponseRequete > .blocRequete .textAnnonce .euroText {
  font-size: 16px;
  font-weight: 400;
}
#contenerReponseRequete > .blocRequete .textAnnonce h5 {
  font-size: 17px;
}
#contenerReponseRequete > .blocRequete .textAnnonce .descAnnonces {
  font-size: 14px;
}

#contactForm {
  margin-top: 50px;
  margin-bottom: 22px;
}
#contactForm label {
  font-weight: bold;
}
#contactForm .blue {
  color: #0069d6;
}
#contactForm .comment {
  font-style: italic;
  font-size: 16px;
  color: #d82c2e;
}
#contactForm .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.profil {
  display: flex;
  justify-content: center;
}
.profil .btnProfil {
  min-width: 200px !important;
}

.proForm .form-group {
  padding: 0;
  padding-right: 5px;
}

#mentions_conteneur h3, #cgv_conteneur h3 {
  background-color: #343a40;
  color: white;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding-left: 5px;
}
#mentions_conteneur p, #cgv_conteneur p {
  font-size: 14px;
}

#cgv_conteneur {
  margin-top: 50px;
}
#cgv_conteneur .info {
  text-align: center;
}

.rstPswd, .newPass {
  padding-top: 197px;
}
.rstPswd h1, .newPass h1 {
  font-size: 30px;
}

.login-form {
  width: 25%;
  margin: 70px auto;
  background: white;
  padding: 10px;
  border-radius: 3px;
}
.login-form .form-title {
  text-align: center;
}
.login-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
.login-form .form-group {
  margin: 10px auto;
}
.login-form button {
  width: 100%;
  border: none;
  color: white;
  background: #3b5998;
  padding: 15px;
  border-radius: 5px;
}
.login-form .msg {
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid red;
  background: pink;
  text-align: left;
  color: brown;
  padding: 10px;
}

#newAnnonce label {
  font-weight: bold;
}
#newAnnonce .photo {
  box-sizing: border-box;
}
#newAnnonce .formPhoto {
  box-sizing: border-box;
  margin-bottom: 10px;
}
#newAnnonce .pdPhoto {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
#newAnnonce .div {
  padding: 5px;
  box-sizing: border-box;
}
#newAnnonce .imgPreview {
  box-sizing: border-box;
  padding-right: 20px;
  padding-bottom: 10px;
  max-width: 180px;
  min-height: 150px;
}

.fa-check {
  color: lightgreen;
}

.fa-times {
  color: red;
}

/*# sourceMappingURL=style.css.map */
