body {
    background-color: grey;
}
#contactForm {
    margin-top: 150px;
}


.footerMembre{
    width:100% !important;
    position:inherit !important;
}

.adminFooter{
    position:inherit !important;
    width:100% !important;
    display:none !important;
}
.annonce-index {
    margin-top: 150px;
}

.starter-template{
    text-align: center;
}

.container{
    margin-top: 80px;
}
