/** footer.inc.php **/
.footerMembre {
    width: 100% !important;
    position: inherit !important;
    bottom: 0;
}

/** admin/footer.in.php **/
.adminFooter {
    display: none !important;
}

/** index.php **/
/* conteneur principal englobant les annonces*/
.annonce-index,
.container {
    margin-top: 100px;
    margin-bottom: 150px;
}

/** titres des pages affiche les message d'erreur */
.starter-template {
    text-align: center;

    h1 {
        text-decoration: underline;
    }
}

//--------------page annonce---------------

.monAnnonce header .titreAnnonce #collapseVoirLesAvis .dateNote {
    font-size: 10px;
}

.monAnnonce .conteneurCarouselTexte .carousel img {
    height: 500px !important;

    @media screen AND (max-width: 480px) {
        height: 400px !important;
    }
}

.monAnnonce #collapseVoirLesAvis .listingNote{
    max-height: 500px;
    overflow: scroll;
}

.monAnnonce .conteneurCarouselTexte .description {
    position: relative;

    .footerDescription {
        @media screen AND (min-width:990px){
            bottom: 0;
        }
        
    }
}

.monAnnonce .commentaires .conteneurCommentaire .date{
    font-size:10px;
}

.monAnnonce header .titreAnnonce .conteneurConten{
    max-width:400px;
}

//--------------depot annonce---------------------

#newAnnonce {
    margin-top: 30px;

    textarea {
        border: none;
        border: 1px solid rgba(128, 128, 128, 0.404);
        border-radius: 5px;
    }
}

//--------------page admin/annonces---------------

.tableAnnonces {

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

//----------------Page acceuil-------------------

#contenerReponseRequete>.blocRequete>.texte>.footerAnnonce{
    @media screen AND (min-width:768px){
        position:absolute;
        bottom:0px;
    }
    
}

#contenerReponseRequete>.blocRequete>.texte>p{
    @media screen AND (max-width:968px){
        overflow: hidden;
    }
}

#contenerReponseRequete>.blocRequete a img{
    display: block;
    max-height: 280px;
    min-height:240px;
}

#contactForm {
    margin-top: 50px;
    margin-bottom: 22px;
    label {
        font-weight: bold;
    }
    .blue {
        color: #0069d6;
    }
    .comment {
        font-style: italic;
        font-size: 16px;
        color: #d82c2e;
    }
    .thank-you {
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
        font-size: 22px;
    }
}
